.config/spicetify/Extracted/
.config/spicetify/Backup/
.config/cmus/playlists/
.config/cmus/search-history
.config/sway/config
.config/mako/config
.config/wallpaper/wall.png
.config/waybar/style.css
.config/wlogout/style.css
.config/gtk-3.0/settings.ini


get_focused_node/build
get_focused_node/CMakeFiles
get_focused_node/_deps
get_focused_node/include
get_focused_node/src
get_focused_node/CMakeCache.txt
get_focused_node/cmake_install.cmake
get_focused_node/main
get_focused_node/Makefile
get_focused_node/.vscode
